*[id*='canvases-container']{
    display: flex;
    margin-bottom: 16px;
}

*[id*='saturationCircle']{
    position: absolute;
    display: inline; 
    margin-left: -5.5px; 
    width: 24px; 
    height: 7px;
    border: 1px solid #0000001c; 
    border-radius: 3px;
    pointer-events: none;
}

*[id*='pickerCircle']{
    width: 16px;
    height: 16px; 
    border: 1px solid; 
    border-radius: 15px;
    position: absolute; 
    z-index: 100;
    pointer-events: none;
}

*[id*='main-canvas-color-picker']{
    border: solid 1px #0000001c;
}

*[id*='saturation-canvas-color-picker']{ 
    display: inline; 
    margin-right: 7px; 
    border: 1px solid #0000001c;
    border-radius: 2%;
}

.saturation-canvas{
    width: 4rem;
    text-align: center;
}